

.subDiv {
  width: 80%;
  height: auto;
  padding: 20px;
  background-color: white;
  margin: auto;
  border-radius: 30px;
  margin-top: 10px;
  border: 2px solid rgba(102, 244, 173, 0.916);
}

input {
  background-color: rgba(188, 244, 244, 0.694);
  height: 30px;
  width: 80%;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  font-weight: bold;
}
label {
  font-weight: bold;
  font-size: 1rem;
}
input:focus {
  border: none;
  outline: none;
}